body {
   background: #000;
   color: #fff;
   width: 100vw;
   display: flex;
   height: calc(var(--vh, 1vh) * 100);
   align-items: center;
   overflow-y: hidden;
   overflow-x: hidden;
   /* background-image: url(../src/img/bgi.jpg);
   background-size: cover; */
}

a {
   color: #fff;
   text-decoration: none;
}

main {
   position: relative;
   margin: 0 auto;
   width: 360px;
   height: 735px;
   background-image: url(../src/img/mockup.png);
   background-repeat: no-repeat;
   background-size: 100%;
   /* bgi 짤리면 패딩 조정하깃 */
   padding: 14px 17px 55px;
}

.mokup-inner {
   position: relative;
   z-index: 2;
   padding: 16px 35px;
   height: 100%;
}

.goback img {
   width: 25px;
   margin-top: 10px;
}

/* 헤더 */

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header img {
   width: 72px;
}

.clock {
   font-size: 15px;
   font-weight: 700;
   margin-left: 20px;
}

/* 메모 */

.memo-app {
   max-width: 500px;
   margin: 0 auto;
   border-radius: 10px;
   overflow: hidden;
}

.memo-header {
   color: white;
   display: flex;
   justify-content: space-between;
}

.memo-header button {
   padding: 0;
   text-align: right;
   border: none;
   color: rgb(255, 213, 0);
   background: transparent;
   cursor: pointer;
   font-size: 15px;
}

.memo-list {
   /* padding: 15px; */
   background-color: #555;
   border-radius: 10px;
}

.memo-item {
   margin-bottom: 10px;
   padding: 10px;
}

.modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
}

.modal.hidden {
   display: none;
}

.modal-content {
   background: white;
   padding: 20px;
   border-radius: 10px;
   width: 90%;
   max-width: 400px;
}

textarea {
   width: 100%;
   height: 100px;
   padding: 10px;
   margin-bottom: 10px;
   border-radius: 5px;
   border: 1px solid #ccc;
}

button {
   display: inline-block;
   margin-right: 5px;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
}

#saveMemoBtn {
   background: #007aff;
   color: white;
}

#cancelMemoBtn {
   background: #f5f5f7;
   color: #333;
}