body {
   background: #000;
   color: #fff;
   width: 100vw;
   display: flex;
   height: calc(var(--vh, 1vh) * 100);
   align-items: center;
   overflow-y: hidden;
   /* background-image: url(../src/img/bgi.jpg);
   background-size: cover; */
}

a {
   color: #fff;
   text-decoration: none;
}

main {
   position: relative;
   margin: 0 auto;
   width: 360px;
   height: 735px;
   background-image: url(../src/img/mockup.png);
   background-repeat: no-repeat;
   background-size: 100%;
   /* bgi 짤리면 패딩 조정하깃 */
   padding: 14px 17px 55px;
}

.mokup-inner {
   position: relative;
   z-index: 2;
   padding: 16px 35px;
   height: 100%;
}

.goback img {
   width: 25px;
   margin-top: 10px;
}

/* 헤더 */

header {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

header img {
   width: 72px;
}

.clock {
   font-size: 15px;
   font-weight: 700;
   margin-left: 20px;
}

/* book */

.book-content {
   margin-top: -10px;
   height: calc(100% - 120px);
   /* Adjust height to fit within the container */
}

.book-content h1 {
   padding-bottom: 20px;
   border-bottom: 0.1px solid #fff;
}

.book-content h2 {
   margin-top: 60px;
}

.book-list {
   display: flex;
   overflow-y: scroll;
   -ms-overflow-style: none;
}

.book-list::-webkit-scrollbar {
   display: none;
}

.book {
   display: flex;
   flex-direction: column;
   margin-right: 10px;
   position: relative;
   perspective: 1000px;
}

.book-inner {
   position: relative;
   width: 130px;
   height: 190px;
   transform-style: preserve-3d;
   transition: transform 0.6s;
}

.book.flipped .book-inner {
   transform: rotateY(180deg);
}

.book-front,
.book-back {
   position: absolute;
   width: 100%;
   height: 100%;
   backface-visibility: hidden;
   border-radius: 5px;
}

.book-front {
   display: flex;
   flex-direction: column;
}

.book-front span {
   font-size: 13px;
   font-weight: 700;
   margin-top: 7px;
}

.book-cover {
   width: 130px;
   height: 190px;
   position: absolute;
   top: 0;
   left: 0;
   z-index: 1;
}

.book-img {
   width: 130px;
   height: 190px;
   z-index: 0;
}

.book-back {
   display: flex;
   justify-content: center;
   align-items: center;
   background: #fff;
   color: #000;
   transform: rotateY(180deg);
}